.articleContent {
  margin-left: 33.33%;
  height: 100vh;
  background: white;
  opacity: 1;
  padding: 3vh;
}
.articleList {
  padding: 4vh 0;
}
.articleTitle {
  font-size: 2vh;
  line-height: 2vh;
  margin-bottom: 1vh;
}
.articleContent {
  height: 10vh;
}
.articleAuthor {
  font-size: 1vh;
}
.articleImg {
  float: right;
}
