.hd {
  height: 100vh;
  background-size: 100%;
  position: fixed;
  width: 33.3%;
}
.userIcon {
  width: 3vw;
}
.userMes {
  margin-top: 5vh;
  opacity: 1;
  transition: opacity 1s;
  text-align: center;
}
